body:not(.home) {
  background: #f5f5f5 !important;

  .p-top {
    background: transparent;
    position: relative;

    .p-header {
      position: relative;
      margin-left: 0;
      border-radius: 0;
      top: auto;
      max-width: 100%;
      width: 100%;
    }
  
    .p-footer {
      &_copyright {
        width: 100%;
      }
    }
  }
}

// --------------------------------
// .p-contact
// --------------------------------
.p-contact {
  &_form {
    &_inner {
    }

    .c-formControl {
      &.-textArea {
        height: 200px;
        line-height: 1.63;
        letter-spacing: 1.28px;
        text-align: left;
        border-radius: 10px;
      }

      &::placeholder {
        font-weight: 500;
        letter-spacing: 0.76px;
        color: #707070;
      }

      @include bp(tab) {
        font-size: 15px;

        &.-textArea {
          height: 150px;
        }

        &::placeholder {
          font-size: 15px;
        }
      }
    }

    .mb-10 {
      margin-bottom: 10px;
    }

    .w320per {
      width: cent(320px, 668px);
    }

    .w360per {
      width: cent(360px, 668px);
    }

    .w370per {
      width: cent(370px, 668px);
    }

    .w540per {
      width: cent(540px, 668px);
    }

    .w480per {
      width: cent(480px, 668px);
    }

    @include bp(tab) {
      .w100perSP {
        width: 100% !important;
      }
    }

    &_title {
      height: 85px;
      background-color: #20448e;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      margin-bottom: 20px;

      >p {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.4;
        letter-spacing: 0.88px;
        color: #fff;
        display: inline-block;
        position: relative;

        .c-req {
          background: #fff;
          width: 50px;
          height: 22px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1.5px;
          font-size: 11px;
          font-weight: 500;
          letter-spacing: 0.88px;
          text-align: center;
          color: #20448e;
          margin-left: 15px;
          position: absolute;
          top: 6px;
          right: -70px;
        }
      }

      @include bp(tab) {
        height: auto;
        padding: 5px;

        >p {
          font-size: 16px;

          .c-small {
            font-size: 12px;
          }

          .c-req {
            top: 4px;
            right: -53px;
          }
        }

        &.-title02 {
          >p {
            .c-req {
              right: -35px;

              @include bp(sp2) {
                right: -33px;
              }
            }
          }
        }
      }
    }

    .c-inputList {
      margin-left: 25px;

      li {
        label {
          .c-text {
            font-weight: bold;
          }
        }
      }
    }

    /* c-licenseNumber */
    .c-licenseNumber {
      &_item {
        .c-form_group_label {
          label {
            font-size: 14px;
          }
        }
        li {
          &:last-child {
            margin-left: 27px;
            margin-top: 20px;
          }
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .c-form {
    .c-starReq {
      font-size: 16px;
      font-weight: bold;
      color: #ff4141;
      position: relative;
      top: 0;
      margin-left: 5px;
      line-height: 1;
    }

    &_group {
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 35px;
      }

      @include bp(tab) {
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }

      &_label, &_input {
        position: relative;

        @include bp(tab) {
          // padding: 0;
        }
      }

      &_label {
        position: relative;
        margin-bottom: 10px;

        small {
          font-size: 80%;
        }

        label {
          // white-space: nowrap;
          // word-break: keep-all;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.4;
          letter-spacing: normal;
          text-align: left;

          @include bp(tab) {
            font-size: 14px;
            line-height: 1.4;

            em {
              font-size: 12px;
            }
          }
        }

        .c-req {
          background: #fff;
          width: 50px;
          height: 22px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1.5px;
          font-size: 11px;
          font-weight: 500;
          letter-spacing: 0.88px;
          text-align: center;
          color: #20448e;
          margin-left: 15px;

          @include bp(tab) {
          }
        }

        @include bp(pc) {
          border-right: none;
          .c-req {
            // position: absolute;
            // top: 50%;
            // transform: translateY(-50%);
            // right: 40px;
          }

          &.-haveReq {
            &::after {
            }
          }
        }

        @include bp(tab) {
          border-bottom: none !important;
          margin-bottom: 0;
          padding: 6px 10px;

          .c-req {
            margin-left: 20px;
          }

        }
      }

      &_input {
        background: #fff;

        @include bp(tab) {
        }

        .c-subGroup {
          display: flex;
          align-items: center;

          &_label {
            min-width: 37px;
          }

          &_data {
            flex: 1;
          }

          &.-inline {
            * {
              display: inline-block;
            }
          }

          &.-jusBetween {
            justify-content: space-between;

            .c-formControl {
              &:not(:last-child) {
                margin-right: 10px;
              }
            }
          }

          &.-col-2 {
            @include bp(tab) {
              .c-formControl {

              }
            }
          }
        }

        /* .c-phoneBox */
        .c-phoneBox {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .c-formControl {
            width: calc(100% / 3 - (50px / 3));
          }

          &_line {
            display: inline-block;
            text-align: center;
          }
        }

      }

      &:not(:last-child) {
        .c-form_group {
          &_label, &_input {
            // border-bottom: none;
          }
        }
      }

      &.-last {
        .c-form_group {
          &_label, &_input {
            border-bottom: none;
          }
        }
      }
    }

    &_privacy {
      height: 75px;
      overflow: auto;
      border: 1px solid #dfdfdf;

      &_body {
        padding: 10px 20px;
        font-size: 12px;
        line-height: 1.33;
      }

      @include bp(tab) {
        &_body {
          padding: 10px;
        }
      }
    }

    &_btnBox {
      text-align: center;
      margin-top: 35px;

      &_btn, .c-button {
        outline: none;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;

        &:disabled {
          cursor: default;
          opacity: 0.5 !important;
        }

        @include bp(tab) {
          width: 258px !important;
          height: 55px;
          font-size: 20px;
          letter-spacing: 1.6px;
        }

        @include bp(sp2) {

        }
      }
    }

    &_acceptBox {

      &_text {
        text-align: center;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 1.12px;

        @include bp(tab) {
          font-size: 12px;
          line-height: 1.67;
          letter-spacing: 0.96px;
          text-align: left;
        }
      }

      &_accept {
        display: flex;
        justify-content: flex-start;

        @include bp(tab) {
        }

        label {
          .c-text {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1.28px;

            .c-starReq {

            }

            @include bp(tab) {
              font-size: 15px;
            }
          }
        }
      }
    }

  }
}

/* .p-contactPage */
.p-contactPage {
  .l-content {
    max-width: 768px;
    margin: 0 auto;
  }

  @include bp(tab) {
    // margin-top: 50px;
    // padding: 0 0 45px;
  }

  .c-pageHeading {

    &_title {
      margin-bottom: 20px;
      color: #000;

      span {
        font-weight: bold;
      }

      &_main {
        font-size: 20px;
        line-height: 1.35;
      }

      &_sub {
        font-size: 24px;
        line-height: 1.8;
      }

      @include bp(tab) {

        &_main {
          font-size: 16px;
        }

        &_sub {
          font-size: 19px;
          list-height: 1.5;
        }
      }
    }
  }

  .c-hotlineBox {
    padding: 22px 20px 25px 30px;
    border-radius: 12px;
    background-color: #ecf3ff;
    margin-top: 20px;
    margin-bottom: 40px;

    @include bp(tab) {
      padding: 15px 10px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    &_text {

    }

    &_tel {
      text-align: center;

      span {
        display: inline-block;
        position: relative;
        font-family: futura-pt, sans-serif;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: normal;
        color: #1f53ad;

        &:before {
          content: "";
          display: inline-block;
          background: url(../images/icon/ic_tell.svg) no-repeat center / 100%;
          width: 32px;
          height: 32px;
          margin-right: 5px;
          position: relative;
          top: 1px;
        }
      }

      &Note {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
        color: #707070;
        margin-bottom: 10px;
      }
    }

    &.-box1 {
      .c-hotlineBox {
        &_text {
          font-size: 18px;
          font-weight: bold;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: center;
          color: #1f53ad;
          margin-bottom: 20px;
        }

        @include bp(tab) {
          &_text {
            font-size: 16px;
            line-height: 1.75;
          }
        }
      }
    }
  }

  .c-topMedia {
    margin-bottom: 40px;

    @include bp(pc) {
      display: flex;
      justify-content: space-between;
    }

    @include bp(tab) {
      margin-bottom: 30px;
    }

    &_title {
      color: #000;
      span {
        font-weight: bold;
      }

      &_main {
        font-size: 20px;
        line-height: 1.35;
      }

      &_sub {
        font-size: 24px;
        line-height: 1.8;
      }

      @include bp(tab) {

        &_main {
          font-size: 16px;
        }

        &_sub {
          font-size: 19px;
          line-height: 1.5;
        }
      }
    }

    &_image {
      @include bp(pc) {
        margin-left: 20px;
      }
      @include bp(tab) {
        margin-top: 15px;
        text-align: center;
      }
    }
  }

}

.p-downloadPage {

  &_media {
    max-width: 480px;
    @include auto;
    margin-bottom: 30px;
    padding-left: 35px;
    padding-right: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include bp(tab) {
      margin-bottom: 15px;
      @include plr(0);
    }

    &_title {

      &_main {
        text-align: center;

        span {
          display: inline-block;
          font-size: 14px;
          font-weight: bold;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #fff;
          width: 126px;
          height: 40px;
          border-radius: 100px;
          background-color: #1f53ad;
          display: flex;
          align-items: center;
          justify-content: center;
          @include auto();
        }
      }

      &_sub {
        font-size: 29px;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
        color: #1f53ad;
      }

      @include bp(tab) {

        &_main {
          span {
            height: 30px;
            width: 94px;
            font-size: 10px;
          }
        }

        &_sub {
          font-size: 20px;

          @include bp(sp2) {
            font-size: 16px;
          }
        }
      }
    }

    &_image {
      @include bp(pc) {
        margin-left: 20px;
      }
      @include bp(tab) {
        text-align: center;
        width: 99px;

        @include bp(sp2) {
          width: 88px;
        }
      }
    }
  }

  .c-hotlineBox {
    max-width: 480px;
    @include auto;

    &_text {
      font-weight: bold;
      color: #1f53ad;

      &.-text1 {
        font-size: 24px;
      }
      &.-text2 {
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -1.08px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      @include bp(tab) {
        &.-text1 {
          font-size: 18px;
        }
        &.-text2 {
          font-size: 14px;
          line-height: 1.36;
          letter-spacing: normal;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }

    &_tel {
      &Note {
        @include bp(sp) {
          font-size: 13px;
        }
      }

      span {
        &:before {
          background-size: 80%;
          top: 6px;
        }
      }
    }

  }
}

/* .p-thanksPage */
.p-thanksPage {
  margin-top: 0;
  padding: 0 0 0;

  @include bp(tab) {
    margin-top: 0;
    padding: 0 0 0;
  }

  &_content {
    background: #fff;
    padding-top: 130px !important;
    padding-bottom: 130px !important;

    @include bp(tab) {
      padding: 50px 25px 35px !important;
    }

    .p-thanksPage {
      &_heading {
        padding-top: 0;
      }
    }
  }

  &_heading {
    background: transparent;
    padding: 0;
    margin-bottom: 65px;

    &_title {
      &_main, &_sub {
        display: block;
      }

      &_main {
        font-size: 26px;
        font-weight: bold;
        letter-spacing: normal;
        text-align: center;
        color: #1f53ad;
      }
    }

    @include bp(tab) {
      margin-bottom: 20px;

      &_title {

        &_main {
          font-size: 22px;
        }
      }
    }
  }

  &_subTitle {
  }

  &_message {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.82;
    color: #2f2f2f;
    margin-bottom: 60px;

    @include bp(tab) {
      font-size: 16px;
      margin-bottom: 30px;
      text-align: left;
    }
  }

  &_btnBox {
    .c-button {
      margin-bottom: 25px;
      background: #b7b7b7;
      color: #fff !important;
      cursor: pointer;
      font-size: 16px;
      @include auto;

      &:hover {
        color: #fff !important;
      }
    }

    @include bp(tab) {
      .c-button {
        width: 258px !important;
        height: 50px;
      }
    }
  }

}

/* .p-confirmPage */
.p-confirmPage {
  position: relative;

  &_content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &_btnBack {
    text-align: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 320px;
      height: 76px;
      border-radius: 13px;
      box-shadow: 0 6px 0 0 #f95006;
      border: none;
      background: #ff9800;
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 2.8px;
      @include auto;
      position: relative;
      color: #fff;

      &:hover {
        opacity: 0.8;
      }

      &:after {
        content: "";
        display: block;
        width: 15px;
        height: 23px;
        background: url(../images/icon/ic_btn_contact.svg) no-repeat center / 100%;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
      }

      @include bp(sp) {
        width: 235px;
        font-size: 20px;
        height: 56px;
        border-radius: 10px;
        box-shadow: 0 4px 0 0 #f95006;

        &:after {
          width: 8px;
          height: 15px;
        }
      }
    }
  }

  &_linkBack {
    text-align: center;

    a {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1.8px;
      color: #0460a5;
      position: relative;
      display: inline-block;
      cursor: pointer;

      &:before {
        content: none;
        display: inline-block;
        background: url(../images/icon/ic_arrow_linkback.svg) no-repeat center / 100%;
        width: 20px;
        height: 20px;
        position: relative;
        margin-right: 10px;
        top: 3px;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    @include bp(tab) {
      a {
        font-size: 16px;
      }
    }
  }

  .c-form {
    &_group {
      &_label {
        label {
        }
      }

      &_input {
        font-size: 16px;
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: center;

        &_text {
          font-size: 19px;
          font-weight: 500;
          line-height: 1.6;
          letter-spacing: 0.76px;
          color: #20448e;
        }

        @include bp(tab) {
          &_text {
            font-size: 14px;
          }
        }
      }

      &.-first {
        .c-form {
          &_group {
            &_input {
              border-top: solid 1px #dcdddd;
            }
          }
        }
      }
      &.-last {
        .c-form {
          &_group {
            &_input {
              border-bottom: solid 1px #dcdddd;
            }
          }
        }
      }

      @include bp(tab) {
        padding: 0;

        &_label {
        }

        &_input {
        }
      }
    }

    &_btnBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 45px;

      &_btn {
        margin-bottom: 25px;
      }

      @include bp(tab) {
        margin-top: 25px;
      }
    }

    /* c-form_interestedName */

    &_interestedName {
      ul {
        li {
          font-size: 19px;
          font-weight: 500;
          line-height: 1.6;
          letter-spacing: 0.76px;
          color: #20448e;
        }

        @include bp(tab) {
          li {
            font-size: 14px;
          }
        }
      }
    }
  }

  .p-contact_form {
    &_inner {
      background: #fff;
    }

    &_title {
      &.-title02 {
        @include bp(tab) {
          .c-req {
            right: -1px;
          }
        }
      }
    }
  }
}
