.p-top {
  background: #fff;
  .form-right {
    position: fixed;
    top: 25px;
    bottom: 10px;
    right: 15px;
    width: 23.5vw;
    height: 100vh;
    z-index: 999;
    max-width: 431px;
    @include mq_pcm(pcm) {
      top: 105px;
    }

    @include mq_up(pc) {
      top: 85px;
      right: 10px;
    }

    .title-form {
      width: 100%;
      z-index: 99;
      position: relative;
    }

    .ctn-form {
      padding: 15px 7px 5px 22px;
      background: #fff;
      margin-top: -30px;
      box-shadow: 0 0 12px rgba(#000, 0.16);
      height: 88%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow-x: auto;
      @include mq_pcm(pcm) {
        padding-bottom: 50px;
      }

      &_media {
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 17px 10px 20px 15px;
        border-radius: 12px;
        background-color: #ecf3ff;
        color: #1F53AD;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mq_pcm(pcm) {
          display: block;
        }

        &_title {
          width: 70%;
          
          @include mq_pcm(pcm) {
            width: 100%;
          }
          &_main, &_sub {
            display: block;
          }
    
          &_main {
            @include fs(15,20);
            font-weight: bold;
            letter-spacing: normal;
            text-align: left;
            color: #1f53ad;
          }
          &_sub {
            @include fs(12,16);
          }
        }
        &_image {
          width: 30%;
          max-width: 109px;
          
          @include mq_pcm(pcm) {
            width: 100%;
            text-align: center;
            max-width: 100%;
            margin-top: 10px;
          }
        }
      }
      
      .p-contact_form {
        .w540per {
          width: 100%;
        }
        .w370per, .w480per {
          width: 100%;
        }
        .w50 {
          width: 50%;
        }
      }
      .c-form_group {
        margin-bottom: 10px;
        &_label{
          margin-bottom: 5px;
        }
      }
      .c-form_acceptBox_accept {
        justify-content: center;
      }

      .p-contact .c-form {
        &_btnBox {
          .c-button {
            width: 100%;
            @include mq_pcm(pcm) {
              font-size: 12px;
            }
          }
        }
      }
      .c-button {
        &.-download {
          span:after {
            top: 3px;
            background: url(../images/ic_right.svg) no-repeat center/100%;
          }
        }
      }
    }

    // @include mq_pcm(pcm) {
    //   display: none;
    // }

    @include bp(tab) {
      display: none;
    }
  }
  .p-header {
    position: fixed;
    top: 30px;
    background: #fff;
    max-width: 1346px;
    width: 70.2vw;
    border-radius: 40px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 66px 3px 35px;
    z-index: 9999;
    transition: all 0.5s;
    &.fixedHeader {
      top: 0;
    }
    @include mq_lpm(lpm) {
      padding: 2px 20px 3px 20px;
      width: 71vw;
    }
    @include mq_lp(lp) {
      margin-left: 20px;
    }

    @include mq_pcm(pcm) {
      padding: 2px 20px 3px 20px;
    }

    @include mq_pcm(pcm) {
      width: 100%;
      margin-left: 0;
    }

    @include mq_down(sp) {
      width: 100%;
      border-radius: 0;
      top: 0;
      padding: 6px 5px 6px 15px;
    }

    &_logo {
      @include mq_lpm(lpm) {
        width: 18.5vw;
      }
      @include mq_tab(tab) {
        width: 150px;
      }
      @include mq_down(sp) {
        width: 197px;
      }
    }
    &_menu {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        padding: 0 10px;
        @include fs(20,27);
        font-weight: bold;
        color: #707070;
        @include mq_lpm(lpm) {
          font-size: 1.1vw;
          line-height: 1.42;
        }
        @include mq_pcm(pcm) {
          @include fs(17,24);
        }
        @include mq_up(pc) {
          @include fs(14,20);
        }
        @include mq_tab(tab) {
          @include fs(13,18);
          padding: 0 5px;
        }
      }
    }
    &_contact {
      text-align: center;
      font-weight: bold;
      @include fs(18,24);
      color: #707070;

      @include mq_lpm(lpm) {
        @include fs(14,22);
      }

      @include mq_pcm(pcm) {
        @include fs(16,22);
      }
      @include mq_tab(tab) {
        @include fs(14,18);
      }

      .phone-number {
        a {
          @include fs(38,51);
          color: #1F53AD;
          font-family: futura-pt, sans-serif;
          font-weight: 500;
          font-style: normal;
          display: flex;
          @include mq_lpm(lpm) {
            @include fs(22,41);
          }

          @include mq_pcm(pcm) {
            @include fs(28,41);
          }
          @include mq_tab(tab) {
            @include fs(18,28);
          }
          img {
            margin-top: 5px;
            margin-right: 13px;
            @include mq_lpm(lpm) {
              width: 20px;
            }
          }
        }
      }
    }
    .right-header {
      @include mq-down(sp) {
        display: flex!important;
        justify-content: center;
        align-items: center;

        .phone-header_sp {
          width: 27px;
          margin-right: 10px;
        }
        #nav_toggle{display: block;width: 27px;height: 18px;position: relative;z-index: 100;cursor: pointer;}
        #nav_toggle div {position: relative;}
        #nav_toggle span{display: block;height: 2px;background: #8A8A8A;position:absolute;width: 100%;left: 0;-webkit-transition: 0.5s ease-in-out;-moz-transition: 0.5s ease-in-out;transition: 0.5s ease-in-out;	}
        #nav_toggle span:nth-child(1){top:0px;}
        #nav_toggle span:nth-child(2){top:9px;}
        #nav_toggle span:nth-child(3){top:18px;}
        .open#nav_toggle span:nth-child(1) {top: 12px;-webkit-transform: rotate(135deg);-moz-transform: rotate(135deg);transform: rotate(135deg);}
        .open#nav_toggle span:nth-child(2) {width: 0;left: 50%;}
        .open#nav_toggle span:nth-child(3) {top: 12px;-webkit-transform: rotate(-135deg);-moz-transform: rotate(-135deg);transform: rotate(-135deg);}

        .menu-sp {
          display: none;
          position: fixed;
          top: 60px;
          width: 100%;
          background:#49C3E3;
          left: 0;
          z-index: 99;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
          padding-bottom: 130px;
          height: 100%;
           li {
             border-bottom: 1px solid #fff;
             a {
              color: #fff;
              padding: 20px 20px;
              display: block;
              @include fs(14,20)
            }
           }
        }

        .contact {
          a {
            padding-top: 50px;
            display: block;
            text-align: center;
          }
        }
        .button-form {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 50px 10px 0;
        }
      }
    }
    
  }
  
  .section-title {
    h2 {
      text-align: center;
      position: relative;
      &::after {
        content: '';
        width: 24px;
        height: 5px;
        background-color: #FF4141;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      .ttl-en {
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;
        @include fs (64,85);
        color: #2F2F2F;
        @include mq_down(sp) {
          @include fs (50,66);
        }
        .text-number {
          color: #FF7272;
        }
      }
      .ttl-ja {
        display: block;
        text-align: center;
        @include fs(20,29);
      }
    }
  }


  .p-topMain {
    overflow: hidden;
    .p-mainVisual {
      background: url(../images/bg_mv.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 143px 0 34px;
      @include mq_down(sp) {
        width: 100%;
        padding: 60px 0 0;
        background: none;
        margin: 0;
      }

      &_img {
        margin-left: 115px;
        width: 70vw;
        @include mq_pcm(pcm) {
          width: 67vw;
          margin-left: 5vw;
        }
        @include mq_down(sp) {
          width: 100%;
          padding: 0;
          background: none;
        }
        @include mq_down(sp) {
          width: 100%;
          margin: 0;
        }
      }

      &_btn {
        margin-top: 45px;
        margin-left: 133px;
        display: flex;
        width: 62vw;
       
        @include mq_pcm(pcm) {
          width: 67vw;
          margin-left: 5vw;
        }
        @include mq_down(sp) {
          width: 100%;
          margin: 0;
          padding: 8px 10px 10px 10px;
          justify-content: space-between;
          background-color: #fff;
          z-index: 99;
        }

        .btn01 {
          width: 50%;
          max-width: 574px;
          display: block;
          @include mq_down(sp) {
            width: auto
          }
        }
        .btn02 {
          width: 50%;
          margin-left: 38px;
          max-width: 574px;
          display: block;
          @include mq_down(sp) {
            width: auto;
            margin-left: 0;
          }
        }
      }
    }

    .p-section {
      max-width: 1467px;
      width: 76.5vw;
      
      @include mq_pcm(pcm) {
        width: 72vw;
      }
      @include mq_down(sp) {
        width: 100%;
      }
    }
    .p-problems {
      padding: 100px 0 100px 2.815vw;
      background: url(../images/bg_problems_pc.png);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;

      @include mq_pcm(pcm) {
        padding-left: 2.815vw;
      }

      @include mq_down(sp) {
        padding: 55px 0 0 0;
      }
      .p-problem_ctn {
      }
      .problem-header {
        text-align: center;
        h2 {
          color: #000000;
          @include fs(32,43);
          font-weight: bold;
          @include mq_down(sp) {
            @include fs(28,40);
          }
          span {
            font-weight: bold;
            color: #FF4141;
          }
        }
      }
      .thumb-proplems {
        padding-top: 110px;
        @include mq_down(sp) {
          padding: 45px 0 0 0;
        }
      }
    }

    .p-reasons {
      background-image: url(../images/bg_reason_pc.png);
      background-color: #F5F5F5;
      background-position: top;
      background-repeat: repeat;
      background-size: cover;
      padding: 100px 0 100px 2.815vw;

      @include mq_pcm(pcm) {
        padding-left: 2.815vw;
      }
      @include mq-down(sp) {
        padding: 50px 10px 50px;
        margin-top: -10px;
        background-image: url(../images/bg_reason_sp.png);
        background-repeat: repeat;
        background-size: cover;
      }

      .ctn-reason {

        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 145px;

        @include mq-down(sp) {
          padding-top: 0;
        }

        @include mq-down(sp) {
          display: block;
        }
        &_item {
          max-width: 430px;
          width: 32%;
          background: #fff;
          border-radius: 15px;
          padding: 50px 23px;
          box-shadow: 0 0 9px #0000001f;
          margin: 0 18px;
          @include mq_pcm(pcm) {
            margin: 0 10px;
          }
          &:nth-child(2) {
            .number-item {
              padding: 18px 10px 19px;
              @include mq-down(sp) {
                padding: 10px 2px 13px;
              }
            }
          }
          @include mq-down(sp) {
            width: 100%;
            max-width: 100%;
            margin: 0;
            margin-top: 100px;
          }
        }
        .number-item {
          background-color: #FF4141;
          color: #fff;
          border-radius: 50%;
          max-width: 138px;
          height: 138px;
          margin: 0 auto;
          margin-top: -119px;
          padding: 24px 2px 45px;

          @include mq-down(sp) {
            max-width: 98px;
            height: 98px;
            margin-top: -99px;
            padding: 18px 2px 29px;
          }
          .number {
            @include fs(28,37);
            font-family: futura-pt, sans-serif;
            font-weight: 500;
            font-style: normal;
            @include mq-down(sp) {
              @include fs(20,27)
            }
          }
          .text {
            @include fs(32,32);
            font-family: noto-sans-cjk-jp,sans-serif;
            font-weight: 500;
            font-style: normal;
            @include mq-down(sp) {
              @include fs(22,24)
            }
          }
          span {
            display: block;
          }
        }

        .thumb-item {
        }

        .ctn-item {
          .ttl-item {
            color: #FF4141;
            @include fs(26,40);
            font-weight: bold;
            padding: 24px 0 30px;

            @include mq_up(pc) {
              @include fs(20,30);
            }
          }
          .description {
            text-align: left;
            @include fs(22,40);
            font-family: noto-sans-cjk-jp,sans-serif;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0;
            @include mq_up(pc) {
              @include fs(16,28);
            }
          }
        }
      }
    }

    .p-flow {
      background-image: url(../images/bg_flow_pc.png);
      background-color: #F5F5F5;
      background-position: top;
      background-repeat: repeat;
      background-size: cover;
      padding: 100px 0 100px 2.815vw;

      @include mq_pcm(pcm) {
        padding-left: 2.815vw;
      }

      @include mq-down(sp) {
        padding: 50px 0 50px;
      }

      .thumb-flow {
        text-align: center;
        padding-top: 66px;
      }

      .btn-flow {
        display: flex;
        justify-content: center;
        padding-top: 55px;
        @include mq-down(sp) {
          padding: 17px 14px 0;
          justify-content: space-around;
        }
        .btn01 {
          margin-right: 65px;
          @include mq-down(sp) {
            margin-right: 0;
          }
        }
        a {
          display: block;
          @include mq-down(sp) {
           width: 48%;
          }
        }
      }
    }

    .p-feature {
      background-image: url(../images/bg_feature_pc.jpg);
      background-color: #F5F5F5;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 100px 0 100px 2.815vw;

      @include mq_pcm(pcm) {
        padding-left: 2.815vw;
      }
      @include mq_down(sp) {
        padding: 11px 12px 50px;
        background-image: url(../images/bg_feature_sp.jpg);
      }

      .section-title {
        h2 {
          color: #fff;
          .ttl-en {
            color: #fff;
          }
        }
      }

      .sub-feature {
        max-width: 300px;
        margin: 0 auto;
        color: #fff;
        background-color: #1F53AD;
        @include fs(24,30);
        padding: 12px 0;
        text-align: center;
        margin-top: 35px;
        @include mq_down(sp) {
          @include fs(16,25);
          padding: 6px 0;
          margin-top: 20px;
        }
      }

      .ctn-feature {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 66px;
        @include mq_down(sp) {
          display: block;
          padding-top: 23px;
        }

        &.ctn-feature02 {
          justify-content: center;
          padding-top: 72px;
          @include mq_down(sp) {
            display: block;
            padding-top: 0;
          }
        }

        &_item {
          max-width: 428px;
          background: #fff;
          border-radius: 15px;
          box-shadow: 0 0 9px #0000001f;
          margin: 0 19px;
          width: 32%;
          @include mq_down(sp) {
           max-width: 100%;
           width: 100%;
           margin: 24px 0 0;
          }
          &:first-child {
            margin-left: 0;
          }
          &:nth-child(2) {
            .number-item {
              padding: 18px 10px 19px;
            }
          }
          &:last-child {
            margin-right: 0;
          }
        }

        .thumb-item {
        }

        .ctn-item {
          padding: 45px 31px 35px 45px;
          @include mq_up(pc) {
            padding: 30px 20px 15px 30px;
          }
          .ttl-item {
            color: #FF4141;
            @include fs(26,40);
            font-weight: bold;
            padding: 0 0 36px;
            font-family: noto-sans-cjk-jp,sans-serif;
            min-height: 116px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include mq_up(pc) {
              @include fs(20,30);
              padding-bottom: 20px;
              min-height: 80px;
            }
          }
          .description {
            text-align: left;
            @include fs(22,40);
            font-family: noto-sans-cjk-jp,sans-serif;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0;
            @include mq_up(pc) {
              @include fs(18,28);
            }
          }
        }
      }
    }

    .p-voice {
      background-color: #fff;
      padding: 100px 0 0 54px;
      background-image: url(../images/bg-voice-left.png);
      background-repeat: no-repeat;
      background-position: -50px 100px;
      background-size: contain;

      @include mq_pcm(pcm) {
        padding-left: 2.815vw;
      }

      @include mq_down(sp) {
        padding: 50px 12px 00px;
        background-image: url(../images/bg-services-right.png);
        background-position: 100px 65px;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .ctn-voice {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 100px;

        @include mq_down(sp) {
          display: block;
          padding: 45px 21px 0;
        }

        &_item {
          max-width: 360px;
          background: #fff;
          box-shadow: 0 0 9px #0000001f;
          margin: 0 25px;
          @include mq_up(pc) {
            width: 32%;
            margin: 0;
            max-width: 100%;
            display: block;
          }
          @include mq_down(sp) {
            width: 100%;
            margin: 5px;
          }
          &:first-child {
            margin-left: 5px;
          }
          &:last-child {
            margin-right: 5px;
          }
        }

        .slick-arrow {
          &::before {
            display: none;
          }
          &::after {
            display: none;
          }
        }
        .slick-next {
          right: 0;
          top: 50%;
        }
        .slick-prev {
          left: 0;
          top: 50%;
        }

        .thumb-item {
          text-align: center;
          background: #E5FFFF;
        }

        .ctn-item {
          padding: 40px 10px 41px 24px;
          @include mq_down(sp) {
            padding: 20px 10px 20px 15px;
          }
          .ttl-item {
            color: #1F53AD;
            @include fs(26,24);
            font-weight: bold;
            padding-bottom: 41px;
            font-family: noto-sans-cjk-jp,sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mq_down(sp) {
              @include fs(20,24);
              padding-bottom: 15px;
            }
          }
          .description {
            text-align: left;
            @include fs(22,40);
            font-family: noto-sans-cjk-jp,sans-serif;
            font-weight: 500;
            font-style: normal;
            letter-spacing: 0;
            @include mq_down(sp) {
              @include fs(15,30)
            }
          }
        }
      }

      .voice-note {
        margin-top: 47px;
        text-align: center;
        @include fs(14,17);
        color: #707070;

        @include mq_down(sp) {
          margin-top: 10px;
          @include fs(13,16);
          text-align: left;
        }
      }
    }

    .p-service {
      background-color: #fff;
      padding: 65px 0 50px 54px;
      position: relative;

      @include mq_pcm(pcm) {
        padding-left: 2.815vw;
      }
      @include mq_down(sp) {
        padding: 50px 12px 50px;
      }
      &::before {
        content: '';
        width: 1350.35px;
        height: 517.24px;
        background-image: url(../images/bg-services-right.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        right: -36%;
        z-index: 1;
        @include mq_up(pc) {
         right: -70%;
        }
        @include mq_down(sp) {
          display: none;
         }
      }
      &::after {
        content: '';
        width: 1350.35px;
        height: 517.24px;
        background-image: url(../images/bg-services-left.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 63px;
        left: -64%;
        z-index: 1;
        @include mq_up(pc) {
          left: -100%;
         }
        @include mq_down(sp) {
        display: none;
        }
      }

      .ctn-service {
        position: relative;
        z-index: 2;

        .thumb-service {
          text-align: center;
          margin-top: 30px;
        }
      }
    }

    .p-qa {
      background-color: #F5FDFF;
      padding: 100px 0 100px 2.815vw;

      @include mq_down(sp) {
        padding: 50px 12px 50px;
      }

      .p-contentqa {
        max-width: 810px;
        margin: 0 auto;
        margin-top: 100px;
        @include mq_down(sp) {
          margin-top: 50px;
        }
        .p-itemqa {
          &_question {
            background-color: #6DCEE8;
            color: #fff;
            @include fs(22,30);
            display: flex;
            align-items: center;
            @include mq_down(sp) {
              @include fs(17,30);
            }
            p {
              display: flex;
              width: 100%;
              padding: 16px 60px 15px 145px;
              position: relative;
              align-items: center;
              @include mq_down(sp) {
                padding: 15px 32px 18px 16px;
              }
              &:after {
                position: absolute;
                top: 22px;
                right: 25px;
                width: 16px;
                height: 16px;
                background: url(../images/qa_close.png) center no-repeat;
                background-size: cover;
                content: '';
                @include mq_down(sp) {
                  right: 10px;
                  top: 40%;
                }
            }
            }
            span {
              display: flex;
              padding: 11px 14px 12px;
              background-image: url(../images/bg_question_pc.png);
              background-position: center right;
              background-repeat: no-repeat;
              background-size: cover;
              color: #6DCEE8;
              font-family: futura-pt, sans-serif;
              @include fs(28,37);
              font-style: normal;
              font-weight: 300;
              min-width: 109px;
              text-align: center;
              margin-right: 15px;
              height: 100%;
              align-items: center;
              justify-content: center;
              border-left: 1px solid #6DCEE8;
              position: absolute;
              top: 0;
              left: 0;

              @include mq_down(sp) {
                display: none;
              }
            }

            &.open {
              p {
                &:after {
                  background-image: url(../images/qa_open.svg);
                }
              }
            }
          }

          &_answer {
            display: none;

            p {
              padding: 20px 20px 0px 120px;
              @include fs(20,30);

              @include mq_down(sp) {
                @include fs(17,30);
                padding: 13px 0 17px;
              }
            }
          }

          &:nth-child(n+2) {
            margin-top: 25px;
            @include mq_down(sp) {
              margin-top: 15px;
            }
          }
        }
      }
    }

    .p-company {
      background-image: url(../images/bg-company_pc.png);
      background-color: #F5F5F5;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 50px 0 117px 54px;

      @include mq_pcm(pcm) {
        padding-left: 2.815vw;
      }
      @include mq_down(sp) {
        padding: 50px 15px 40px 15px;
      }
      .ctn-company {
        max-width: 1144px;
        border-radius: 25px;
        margin: 66px auto 0;
        background: #fff;
        padding: 136px 48px 78px 10vw;
        width: 81%;
        @include mq_up(pc) {
          padding: 136px 2vw 78px 2vw;
        }
        @include mq_tab(tab) {
          width: 90%;
        }
        @include mq_down(sp) {
          width: 100%;
          padding: 0;
          background: none;
          margin-top: 40px;
        }

        table {
          @include mq_down(sp) {
            width: 100%;
          }
          tr {
            margin-bottom: 30px;
            display: block;
            &:last-child {
              margin-bottom: 0;
            }
            @include mq_down(sp) {
              margin-top: 10px;
              margin-bottom: 10px;
            }
            &:last-child {
              td {
                &:last-child {
                  @include mq_down(sp) {
                    text-align: left
                  }
                }
              }
            }
          }
          td {
            @include fs(20,40);
            @include mq_down(sp) {
              display: block;
              @include fs(17,40);
              text-align: center;
              letter-spacing: 0;
            }
            span {
              display: block;
              background: #1F53AD;
              border-radius: 25px;
              min-width: 188px;
              text-align: center;
              color: #fff;
              @include fs(20,40);
              @include mq_tab(tab) {
                min-width: 155px;
              }
            }
            &:last-child {
              padding-left: 65px;
              @include mq_tab(tab) {
                padding-left: 30px;
              }
              @include mq_down(sp) {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
  .sticky_btn {
    display: none;
    @include mq_down(sp) {
      &.fixed {
        position: fixed;
        display: flex!important;
        bottom: 0;
        padding: 5px;
        z-index: 99;
        a {
          display: block;
          padding: 0 5px;
        }
      }
    }
  }
  .p-footer {
    background-color: #1F53AD;
    text-align: center;
    // @include mq_down(sp) {
    //   margin-bottom: 160px;
    // }
    // @include mq_mb(mb) {
    //   margin-bottom: 90px;
    // }
    .p-footer_copyright {
      max-width: 1467px;
      width: 100%;
      padding-left: 54px;
      text-align: center;
      color: #fff;
      @include fs(16,19);
      padding: 20px 0 21px;
      @include mq_down(sp) {
        padding-left: 0;
      }
    }
  }
}