@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');

.l-container {
  // min-width: $pc_min_width;
  max-width: $pc_max_width;
  margin-right: auto;
  margin-left: auto;

  @include mq_up(pc) {
    width: 100%;
    padding: 0 15px;
  }

  @media screen and (max-width: 1025px) and (min-width: 1023px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include mq_down(sp) {
    min-width: auto;
    padding-right: 25px;
    padding-left: 25px;
  }

  @include mq_mb(mb) {
    min-width: auto;
    margin-right: 0;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.l-containerFull {
  max-width: 1326px;
  margin-right: auto;
  margin-left: auto;

  @include mq_lp(lp) {
    max-width: 1090px;
  }
}

.l-topSection {
  display: inline-block;
  position: relative;
  min-width: 100%;
  background-color: #fff;
}

.l-topMain {
  overflow: hidden;
  padding-top: 10px;

  @include mq-down(sp) {
    padding-top: 25px;
  }
}

.c-head{
  padding-top: 15px;
  &_text{
    display: flex;
    justify-content: center;
    align-items: center;
    @include fs(40,70);
    font-weight: bold;
    letter-spacing: 0.1em;
    @include mq_down(sp){
      @include fs(30,20);
      flex-wrap: wrap;
      img{
        max-width: 60px; 
      }
    }
    &_rd{
      @include fs(55,67);
      font-weight: bold;
      letter-spacing: 0.1em;
      font-family: 'Noto Serif JP', serif;
      color: #ed3b2b;
      position: relative;
      padding: 0 1px 0 5px;
      z-index: 1;
      &::before{
        width: 100%;
        height: 10px;
        background: #f4e621;
        content: " ";
        position: absolute;
        left:0;
        bottom: 1px;
        z-index: -1;
      }
    }
  }
}

.c-special{
  margin: 0 -20px;
}

.l-titleSection {
  text-align: center;
  .l-titleEn {
    display: block;
    @include fs(60,50);
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    color: #40B15D;

    @include mq-down(sp) {
      @include fs(50,50);
    }
  }
  .l-titleJa {
    display: block;
    @include fs(20,28);
    padding-top: 10px;
    font-family: fot-tsukuardgothic-std,sans-serif;
    font-weight: bold;
    color: #1A1A1A;
    @include mq-down(sp) {
      @include fs(18,28);
      padding-top: 20px;
    }
  }
}

.c-contact{
  background-color: #fff;

  .l-container {
    @include mq_up(pc) {
      padding: 0;
      width: 100%;
    }
  }
  &_img {
    position: relative;
  }
  .call {
    display: block;
    position: absolute;
    bottom: 47px;
    width: 470px;
    height: 80px;
    left: 65px;
    @include mq-down(sp) {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 94%;
      height: 65px;
      right: 0;
      margin: 0 auto;
    }
  }
}

.c-tel{
  display: none;
  z-index: 9;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
  transform: translateY(0);
  transition: 0.5s;
  @include mq_down(sp){
    padding: 0 6px;
    display: block;
    padding-bottom: 10px;
  }
  a {
    position: relative;
    animation: pekopeko 2s infinite;
    transition: 0.5s ease-in-out;
  }
}


@keyframes pekopeko {
  0% {
      top: 0px;
      box-shadow: 0 8px 8px rgba(41, 41, 41, 0.2);
  }

  10% {
      top: 3px;
      box-shadow: 0 8px 8px rgba(41, 41, 41, 0.2);
  }

  20% {
      top: 0px;
    box-shadow: 0 8px 8px rgba(41, 41, 41, 0.2);
  }

  30% {
    top: 3px;
    box-shadow: 0 8px 8px rgba(41, 41, 41, 0.2);
  }

  40% {
    top: 0px;
    box-shadow: 0 8px 8px rgba(41, 41, 41, 0.2);
  }
}

@keyframes shine-run {
  0% {
      transform: scale(0) rotate(50deg);
      opacity: 0
  }

  40% {
      transform: scale(1) rotate(50deg);
      opacity: 1
  }

  100% {
      transform: scale(250) rotate(50deg);
      opacity: 0
  }
}
@keyframes updown1 {
0% {
  transform: translateY(0);
}
40% {
  transform: translateY(0);
}
50% {
  transform: translateY(-20px);
}
100% {
  transform: translateY(0);
}
}

.updown {
  animation: fuwafuwa 2s infinite;
}

@keyframes fuwafuwa {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
.pagetop {
  bottom: 25px;
  position: fixed;
  right:20.2rem;
  z-index: 100;
  display: none;
  @include mq_lp(lp){
    right: 8.7rem;
  }
  @include mq_down(sp){
    right: 6.2rem;
  }
  @include mq_mb(mb){
    right: 6.2rem;
  }
  &__btn { 
    background-color: #b3b3b3;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    cursor: pointer;
  }
}


.c-fademoveA {
  font-weight: bold;
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes fadein {
  from {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.c-fademoveB {
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes fadein {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.c-gradient {
  --button-background-image: linear-gradient( 120deg, #378EDB, #65ddb1, #378EDB);
  --button-background-position: 0 0;
  --button-background-size: 200% 100%;
  background-color: var(--button-background-color);
  background-image: var(--button-background-image);
  background-position: var(--button-background-position);
  background-size: var(--button-background-size);
  transition: background var(--button-transition-duration, 0.25s) ease-in-out;
  will-change: background;
}

.c-gradient:hover {
  --button-background-position: 100% 0;
  --button-background-size: 100% 200%;
}