.p-footer {
  background-color: #40B15D;
  @include mq-down(sp) {
    margin-bottom: 100px;
  }
  &_copyright {
    text-align: center;
    padding: 10px 0 11px;
    @include mq-down(sp) {
      padding: 1px 0 2px
    }
    span {
      @include fs(14, 14);
      font-family: source-han-sans-japanese,sans-serif;
      letter-spacing: 0;
      color: #fff;
      
    }
    @include mq_mb(mb) {
      padding: 0 0 2px 0;
    }
  }
}
