@import url("https://use.typekit.net/jfq3lpj.css");
.p-header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  min-height: 8rem;
  
  @include mq_lp(lp) {
    padding: 0 0 0 1rem;
  }
  @include mq_down(sp) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0 0 0 1rem;
    min-height: auto !important;
  }
  @include mq_down(sp) {
    padding: 0 0 0 1rem;
  }
  &_logo {
    padding-left: 1rem;
    @include mq_down(sp) {
      padding-left: 0;
    }
    a {
      display: block;
    }
    img {
      width: 20rem;
      @include mq_down(sp) {
        width: 123px;
      }
    }
    @include mq_down(sp) {
      padding: 5px;
      img {
        max-width: 21rem;
        @include mq_mb(mb) {
          width: 122px;
        }
      }
    }
  }
  &_right {
    @include mq_down(sp) {
      display: flex;
      align-items: center;
    }
    &_websm {
      display: flex;
      align-items: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px 10px 3px 64px;
        font-family: din-2014,sans-serif;
        font-weight: 700;
        @include fs(48, 84);
        font-weight: 400;
        font-style: normal;
        color: #fff;
        background-color: #F25236;
        position: relative;
        letter-spacing: 0;
        img {
          margin-right: 10px;
          @include mq_down(sp) {
            width: 28px;
          }
          @include mq_mb(mb) {
            margin-right: 5px;
          }
        }

        @include mq_down(sp) {
          @include fs(27, 27);
          padding: 11px 15px 12px 38px;
        }
        &::before {
          width: 39px;
          height: 39px;
          content: " ";
          position: absolute;
          background: url("../images/icon_phone.svg") center no-repeat;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
          @include mq_down(sp) {
            width: 23px;
            height: 23px;
            left: 10px;
          }
        }
      }

      .hd_services  {
        padding: 29px 28px;
        font-size: 0;
        background-color: #00A4E2;
        text-align: center;
      }
    }
  }
}
